[Unit]
Description=Generate sshd host keys
ConditionPathExists=|!/srv/etc/ssh/ssh_host_rsa_key
ConditionPathExists=|!/srv/etc/ssh/ssh_host_ecdsa_key
ConditionPathExists=|!/srv/etc/ssh/ssh_host_ed25519_key
Before=sshd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ssh-keygen -A -f /srv

[Install]
WantedBy=multi-user.target
