image:
  url: file://{{ .ImagePath }}
  sha384: ignored
storage:
  disks:
    - device: "{{ .DiskPath }}"
      id: os
      partitionTableType: gpt
      partitions:
        - id: esp
          size: 64M
          type: esp
        - id: root
          size: 4G
          type: root
  filesystems:
    - deviceId: root
      mountPoint: /
    - deviceId: esp
      mountPoint:
        options: umask=0077
        path: /boot/efi
os:
  selinux:
    mode: disabled
  users:
    - name: {{ .Username }}
scripts:
  postConfigure:
    - name: user-password
      runOn:
        - clean-install
      path: {{ .PasswordScript }}
    - name: hostname
      runOn:
        - clean-install
      content: |
        echo "{{ .Hostname }}" > /etc/hostname
        hostname "{{ .Hostname }}"
