[Unit]
Description=Trident Direct Streaming Service
After=network.target network-online.target systemd-udev-settle.service

[Service]
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/bin/bash -c "trident --version"
ExecStart=/bin/bash -c "trident --help"
Type=oneshot

[Install]
WantedBy=multi-user.target
