image:
  url: oci://REGISTRY_ADDRESS/REPOSITORY:TAG
  sha384: ignored
storage:
  disks:
    - id: os
      device: /dev/disk/by-path/pci-0000:00:1f.2-ata-2
      partitionTableType: gpt
      partitions:
        - id: esp
          type: esp
          size: 1G
        - id: root
          type: root
          size: 8G
        - id: ntfs-partition
          type: linux-generic
          size: 100M
    - id: disk2
      device: /dev/disk/by-path/pci-0000:00:1f.2-ata-3
      partitionTableType: gpt
      partitions: []
  filesystems:
    - deviceId: root
      mountPoint: /
    - deviceId: esp
      mountPoint:
        path: /boot/efi
        options: umask=0077
    - deviceId: ntfs-partition
      type: ntfs
      source: new
      mountPoint: /mnt/ntfs-partition
scripts:
  postConfigure:
    - name: testing-privilege
      runOn:
        - clean-install
      content: echo "testing-user ALL=(ALL:ALL) NOPASSWD:ALL" > /etc/sudoers.d/testing-user
os:
  selinux:
    mode: enforcing
  netplan:
    version: 2
    ethernets:
      vmeths:
        match:
          name: enp*
        dhcp4: true
  users:
    - name: testing-user
      sshPublicKeys: []
      sshMode: key-only
  modules:
    - name: test-module
      loadMode: always
      options:
        "option1": "value1"
        "option2": "value2"
  services:
    enable:
      - cron
  kernelCommandLine:
    extraCommandLine:
      - param1=value
      - param2=\"value2 value3\"
