[Unit]
Description=Trident Agent
After=network.target network-online.target systemd-udev-settle.service

[Service]
ExecStartPre=/bin/bash /trident_cdrom/pre-trident-script.sh
ExecStartPre=/bin/bash -c "curl $(grep -oP 'phonehome: \K.*(?=phonehome)' /etc/trident/config.yaml)files/trident > /usr/bin/trident"
ExecStartPre=chmod +x /usr/bin/trident
ExecStartPre=/bin/bash -c "curl $(grep -oP 'phonehome: \K.*(?=phonehome)' /etc/trident/config.yaml)files/osmodifier > /usr/bin/osmodifier"
ExecStartPre=/bin/chmod +x /usr/bin/osmodifier
ExecStart=/usr/bin/trident run --verbosity DEBUG
Type=oneshot

[Install]
WantedBy=multi-user.target