[Unit]
Description=Trident Agent
StartLimitInterval=200
StartLimitBurst=5
After=network.target network-online.target systemd-udev-settle.service

[Service]
ExecStartPre=/bin/bash -c "curl $(grep -oP 'phonehome: \K.*(?=phonehome)' /etc/trident/config.yaml)files/trident-container.bin > /trident-container.bin"
ExecStartPre=-docker load --input /trident-container.bin
ExecStart=docker run --privileged -v /etc/trident:/etc/trident -v /var/lib/trident:/var/lib/trident -v /:/host -v /dev:/dev -v /run:/run -v /sys:/sys --pid host trident/trident:latest run --verbosity INFO
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target