[Unit]
Description=Trident Agent
StartLimitInterval=200
StartLimitBurst=5
After=network.target network-online.target systemd-udev-settle.service trident-network.service

[Service]
ExecStart=docker run --privileged -v /etc/trident:/etc/trident -v /var/lib/trident:/var/lib/trident -v /:/host -v /dev:/dev -v /run:/run -v /sys:/sys --pid host acrafoimages.azurecr.io/trident:CONTAINER_TAG run --verbosity INFO
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target