Partitions being used for verity need a matching partition for the hash data.

This table lists the expected hash partition for each partition type.
Types that are not listed are not valid for verity.

{{ body }}