This rule is not strictly enforced, but is provided as a warning to the user.

Some partition types have expected mount point paths, and will generally be
mounted at the expected path. For example, the `boot` partition is generally
mounted at `/boot`, and the `root` partition is generally mounted at `/`.

The following table lists the expected mount points for each partition type, as
defined in the [Discoverable Partition Specification
(DPS)](https://uapi-group.org/specifications/specs/discoverable_partitions_specification/):

{{ body }}