This table contains the rules for valid references in the storage configuration.
The rows represent the different types of referrers that exists in the
configuration, and the columns represent the different types of block devices
that can be referenced.

A single cell in the table represents whether a referrer of a certain type can
reference a block device of a certain type.

{{ body }}