parameters:
  - name: baseimgBuildType
    type: string
    default: "release"

  - name: baseImagePipelineBuildId
    type: string
    default: "latestFromBranch"

  - name: baseImageArm64PipelineBuildId
    type: string
    default: "latestFromBranch"

  - name: outputDirectory
    type: string
    
  - name: tridentSourceDirectory
    type: string
    default: $(Build.SourcesDirectory)

steps:
  - bash: |
      set -eux
      echo "Creating Base Image Config artifact..."
      echo "  Base Image Build Type: ${{ parameters.baseimgBuildType }}"
      echo "  Base Image Pipeline Build ID: ${{ parameters.baseImagePipelineBuildId }}"
      echo "  Base Image ARM64 Pipeline Build ID: ${{ parameters.baseImageArm64PipelineBuildId }}"
      echo "  Output Directory: ${{ parameters.outputDirectory }}"
      
      ./create-base-image-config.sh \
          "${{ parameters.baseimgBuildType }}" \
          "${{ parameters.baseImagePipelineBuildId }}" \
          "${{ parameters.baseImageArm64PipelineBuildId }}" \
          "${{ parameters.outputDirectory }}"
    workingDirectory: ${{ parameters.tridentSourceDirectory }}/.pipelines/templates/stages/base_image_config
    displayName: "Create Base Image Config artifact"
