parameters:
  - name: baseimgBuildType
    type: string
    default: "release"

  - name: baseImagePipelineBuildId
    type: string
    default: "latestFromBranch"

  - name: baseImageArm64PipelineBuildId
    type: string
    default: "latestFromBranch"

  - name: rpmsPipelineBuildId
    type: string
    default: "latestFromBranch"

  - name: rpmsArm64PipelineBuildId
    type: string
    default: "latestFromBranch"

  - name: previousStage
    type: string
    default: ''
    
stages:
  - stage: CreateBaseImageConfig
    displayName: "Create BaseImage config artifact"
    ${{ if ne(parameters.previousStage, '') }}:
      dependsOn: ${{ parameters.previousStage }}
    jobs:
      - job: CreateBaseImageConfigJob
        displayName: "Create BaseImage config artifact"
        pool:
          type: linux
        variables:
          - name: ob_outputDirectory
            value: "$(Pipeline.Workspace)/s/trident/base-image-config"
          - name: ob_artifactBaseName
            value: "base-image-config"
        steps:
          - template: create-base-image-config-artifact-steps.yml
            parameters:
              baseimgBuildType: ${{ parameters.baseimgBuildType }}
              baseImagePipelineBuildId: ${{ parameters.baseImagePipelineBuildId }}
              baseImageArm64PipelineBuildId: ${{ parameters.baseImageArm64PipelineBuildId }}
              rpmsPipelineBuildId: ${{ parameters.rpmsPipelineBuildId }}
              rpmsArm64PipelineBuildId: ${{ parameters.rpmsArm64PipelineBuildId }}
              outputDirectory: $(ob_outputDirectory)
