[Unit]
Description=Trident Agent Networking Setup
Before=network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Environment=RUST_LOG=info
ExecStart=/usr/bin/trident start-network
Type=oneshot
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=network.target
