[Unit]
Description=Trident Agent
After=network.target network-online.target systemd-udev-settle.service trident-network.service

[Service]
ExecStart=/usr/bin/trident run --verbosity INFO
Type=oneshot

[Install]
WantedBy=multi-user.target