[Unit]
Description=Trident Agent Networking Setup
Before=network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/trident start-network --verbosity INFO
Type=oneshot
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=network.target
