[Unit]
Description=Trident Update (%i)
After=network.target network-online.target tridentd.socket

[Service]
Type=oneshot
EnvironmentFile=/var/lib/trident/update-env
ExecStart=trident grpc-client update ${TRIDENT_LOG_LEVEL} ${UPDATE_CONFIG} --allowed-operations %i
TimeoutStartSec=600
