# Setsail: Kickstart For Mariner

# Contents

- [Commands](#commands)
{%- for command in commands %}
  - [{{ command.name }}](#{{ command.name }})
{%- endfor %}
- [Sections](#sections)
{%- for section in sections %}
  - [{{ section.opener }}](#{{ section.bare_opener }})
{%- endfor %}

# Commands

{% for command in commands -%}
{% if not loop.first -%}
<hr>

{% endif -%}
{% include "command.md.jinja2" %}
{% endfor -%}

<hr>

# Sections

{% for section in sections -%}
{% if not loop.first -%}
<hr>

{% endif -%}
{# The command contains pretty much all info we care about #}
{% set command = section.command %}
{% include "command.md.jinja2" %}
{% endfor -%}
