[package]
name = "harpoon"
version = "0.1.0"
edition = "2024"
license = "MIT"

[dependencies]
prost = "0.14.1"
prost-types = "0.14.1"
tonic = "0.14.2"
tonic-prost = "0.14.2"

[build-dependencies]
tonic-prost-build = "0.14.2"
