{% if type is defined -%}
{% if level is defined %}{{ level | header_level }} {% else %}### {% endif %}
{%- if type == "property" -%}
`{{ name }}` {% if required %}**<span style="color:orange;">(required)</span>**{% else %}(optional){% endif %}
{%- elif type == "variant" -%}
{%- if docfx -%}
[{{ name }}](#/tab/{{ name | lower | slugify }})
{%- else -%}
{{ name }}
{% endif -%}
{% endif -%}
{% endif %}

{% include "partials/basic.md.jinja2" %}