[Unit]
Description=Trident Provisioning Service
After=network.target network-online.target systemd-udev-settle.service trident-network.service
ConditionPathExists=/etc/trident/config.yaml

[Service]
ExecStart=trident install
Type=oneshot

[Install]
WantedBy=multi-user.target
